.edit-user-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-user-form {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-user-input-container {
  display: flex;
  align-items: center;
  width: 250px;
  margin: 10px 0;
}

.edit-user-form-label {
  margin-right: 10px;
}

.edit-user-form-input {
  height: 30px;
  font-size: 18px;
  width: 140px;
  padding-left: 10px;
}

.edit-user-button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
